<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    <title>Boolflix</title>
  </head>
  <body>

    <!-- contenitore app -->
    <div id="app">

      <!-- barra superiore -->
      <div class="top-bar">

        <!-- logo app -->
        <h1>
          BOOLFLIX
        </h1>

        <!-- barra ricerca film/serie -->
        <input v-model="ricercaUtente" v-on:keydown.enter="searchMovie" placeholder="Search">

      </div>

      <!-- contenitore secondario -->
      <div class="container">

        <!-- contenitore di film/serie -->
        <div class="content-movie" v-for="film in filmTrovati">

          <!-- copertina -->
          <img :src="generatoreCopertina(film.poster_path)" alt="">

          <!-- titolo -->
          <div>
            <span>Titolo:</span>
            {{film.title}}
          </div>

          <!-- titolo originale -->
          <div>
            <span>Titolo originale:</span>
            {{film.original_title}}
          </div>

          <!-- lingua -->
          <div>
            <span>Lingua:</span>
            {{film.original_language}}
          </div>

          <!-- voto -->
          <div>
            <span>Voto:</span>
            <i class="fas fa-star" v-for="star in conversioneVoto(film)"></i>
          </div>

        </div>

      </div>

    </div>


    <!-- javascript -->
    <script type="text/javascript" src="js/script.js">

    </script>

  </body>
</html>
